@import url("https://fonts.googleapis.com/css2?family=roobert");
@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap")
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aquatico";
  src: url("/public/Aquatico-Font/Aquatico-Regular.otf") format("opentype");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #e2e2e2;
}
.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #1a1a1a;
  min-height: 100vh;
  width: 100%;
  color: white;
  overflow-x: hidden;
  font-family: "roobert", Arial, sans-serif;
}

/* .aquatico {
  font-family: "Aquatico";
} */

.navbar,
card {
  font-family: "Fragment Mono", monospace;
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[95%] sm:p-5 p-3;
  }

  .max-w {
    @apply mx-auto max-w-[1400px];
  }
}
